!!!
html
  head
    meta(charset="utf-8")
    title Spotify Test
    link(rel="stylesheet", href="http://css.cdn.tl/normalize.css")
  body
    form
      label
        = "Spotify URI"
        input(autofocus, value="spotify:track:77QXYxKqMSVxNT6UAgsNXh")
        input(type="submit")
    script(src="script.js")
